<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<style>

@page {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.container {
    width: 100%;
}

.header {
    background-color: #FFD200 !important;
    padding: 20px;
    text-align: center;
}

.footer {
    background-color: #FFD200 !important;
    padding: 20px;
    font-size: 12px;
    text-align: center;
}

.content {
    padding: 30px;
}

</style>


</head>

<body>

<div class="container">

<div class="header">
    <h2>protego.ae</h2>
    Powered by RAKBANK
</div>

<div class="content">
{{ body_content | safe }}
</div>

<div class="footer">

        © Copyright by Protego 2024. All rights reserved.

        <br><br>

        Protego Insurance Brokers L.L.C is licensed by The Central Bank of the UAE (CBUAE),
        Registration number 288. Holder of Health Insurance Intermediary Permit (HIIP)
        no. BRK-00193 issued by the Dubai Health Authority

    </div>

</div>

</body>
</html>
