<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body style="margin:0;padding:0;font-family:Arial, sans-serif;background:#f5f5f5;">

    <!-- HEADER -->
    <table width="100%" bgcolor="#ffcc00" cellpadding="20">
        <tr>
            <td align="left">
                <strong style="font-size:22px;">protego.ae</strong><br>
                <span style="font-size:14px;">Powered by RAKBANK</span>
            </td>
        </tr>
    </table>


    <!-- BODY CONTENT -->
    <table width="100%" bgcolor="#ffffff" cellpadding="30">
        <tr>
            <td>
                {{ body_content | safe }}
            </td>
        </tr>
    </table>


    <!-- FOOTER -->
    <table width="100%" bgcolor="#ffcc00" cellpadding="20">
        <tr>
            <td style="font-size:12px;">
                © Copyright by Protego 2024. All rights reserved.
                <br><br>
                Protego Insurance Brokers L.L.C is licensed by The Central Bank of the UAE (CBUAE),
                Registration number 288. Holder of Health Insurance Intermediary Permit (HIIP)
                no. BRK-00193 issued by the Dubai Health Authority
            </td>
        </tr>
    </table>

</body>
</html>